* {
  margin: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color-light: #f8f3ed; /* Light mode background */
  --text-color-light: #667389; /* Light mode text */
  --background-color-dark: #667389; /* Dark mode background */
  --text-color-dark: #f8f3ed; /* Dark mode text */
  --nav-background: #75A8DF; /* Nav bar background */
  --nav-text: #BCECEF; /* Nav bar text */
  --highlight-color: #E9AFA3; /* Highlighted tab color */
}

body.light-mode {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

body.dark-mode {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

.nav {
  background-color: var(--nav-background);
  color: var(--nav-text);
}

.nav-item a {
  color: var(--nav-text);
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
}

.nav-item a.active {
  background-color: var(--highlight-color);
  border-radius: 5px;
}

.nav-item a:hover {
  background-color: var(--highlight-color);
  border-radius: 5px;
}

.section {
  padding: 60px 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.content {
  max-width: 800px;
  margin: auto;
}

h1, h2, h3 {
  margin-bottom: 20px;
}

h1 {
  color: #75A8DF; /* Cornflower */
}

h2 {
  color: #7FE5F0; /* Turquoise */
}

h3 {
  color: #667389; /* Blue Grey */
}

p, li {
  font-size: 16px;
  line-height: 1.6;
}

li {
  list-style: none;
  padding: 5px 0;
}

a.scroll-link {
  display: inline-block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #75A8DF;
  color: #FFF;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

a.scroll-link:hover {
  background-color: #7FE5F0; /* Turquoise */
}

.section:not(:last-child) {
  margin-bottom: 20px; /* Add spacing between sections */
}

.mode-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: var(--nav-background);
  color: var(--nav-text);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.mode-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: var(--nav-background);
  color: var(--nav-text);
  border: none;
  padding: 12px 24px; /* Increased padding */
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Added border-color transition */
  border: 2px solid var(--highlight-color); /* Border styling */
}

.mode-toggle:hover {
  background-color: var(--highlight-color);
  border-color: var(--nav-background); /* Change border color on hover */
}

