/* General Styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, .layout {
  height: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.layout-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  margin-top: auto;
}

/* Navbar Styles */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #75A8DF;
}

.nav-left {
  display: flex;
}

.nav-left a {
  margin-right: 20px;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-tabs {
  display: flex;
  list-style: none;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
}

.nav-link.active {
  font-weight: bold;
  text-decoration: underline;
}

/* Switch Styles */
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
  margin-left: auto;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(14px);
}

/* Light and Dark Mode Styles */
body.light-mode {
  background-color: #f4ede3;
  color: #3a405a;
}

body.dark-mode {
  background-color: #3a405a;
  color: #f4ede3;
}

.Beachside-image {
  opacity: 0.8;
  border: 0;
  padding: 0;
  margin: 0;
  max-width: 100%;
  height: auto;
}